.children {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.navBar {
    display: flex;
    margin: 0;
    padding-right: 50px;
    height: 100px;
    background-color: #303030;
}

.navList {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    width: auto;
}

.navListItem {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navLink, .homeLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: white;
    height: 100%;
    padding: 0 20px;
    transition: background-color 0.3s;
}

.homeLink {
    width: 90px;
    margin-left: 20px;
}

.homeLink > img {
    width: 50px;
    height: 50px;
    transition: width 0.3s, height 0.3s;
}

.navLink:hover {
    background-color: #202020;
}

.navLinkActive {
    text-shadow: 0 0 5px #ffb367;
}

.homeLink:hover > img {
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 600px) {
    .navBar {
        padding-right: 50px;
        height: auto;
        align-items: center;
        justify-content: space-between;
        min-width: 350px;
    }

    .homeLink {
        flex-grow: 1;
    }

    .navList {
        flex-direction: column;
        height: auto;
        flex-grow: 0;
    }

    .navListItem {
        height: 60px;
        width: 100%;
    }

    .navLink {
        align-items: flex-start;
        width: 100%;
    }
}

@media print {
    .navBar{
        height: 0;
        overflow: hidden;
    }
}