.heading {
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.formControl {
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}

.button {
    width: 120px;
    background: green;
	color: white;
	border: 2px solid green;
    border-radius: 10px;
	padding: 5px;
    margin: 5px 0;
	cursor: pointer;
    font-weight: bold;
}

.error {
    background-color: red;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}